.search-bar-wrap {
    display: flex;
    width: 40rem;
}

.MuiAutocomplete-root,
.MuiFormControl-fullWidth {
    width: 100%;
}

.MuiAutocomplete-root {
    margin-right: 1rem;
}

.MuiOutlinedInput-root {
    background: rgba(255,255,255,.6);
}

@media only screen and (min-device-width : 1px) and (max-device-width : 1024px) {
    .search-bar-wrap {
        width: 100%;
        margin-top: .5rem;
    }
}