.no-search {
    background: rgba(0,0,0,.05);
    width: 30rem;
    text-align: center;
    color: rgba(0,0,0,.3);
    padding: 1rem;
    box-sizing: border-box;
    border: 1px solid rgba(0,0,0,.1);
    border-radius: .2rem;
    margin: 2rem auto 0;
}

aside.shared-buttons-wrap {
    padding: 1rem 0;
    background: rgba(0,0,0,.05);
    width: 50rem;
    margin: 0 auto;
    border-radius: .25rem;
    border: 1px solid rgba(0,0,0,.05);
    display: flex;
    justify-content: space-evenly;
}