.no-search {
    background: rgba(0,0,0,.1);
    width: 30rem;
    text-align: center;
    color: rgba(0,0,0,.5);
    padding: 1rem;
    box-sizing: border-box;
    border: 1px solid rgba(0,0,0,.1);
    border-radius: .2rem;
    margin: 2rem auto 0;
}

aside.shared-buttons-wrap {
    padding: 1rem 0;
    background: rgba(0,0,0,.1);
    width: 50rem;
    margin: 0 auto;
    border-radius: .25rem;
    border: 1px solid rgba(0,0,0,.08);
    display: flex;
    justify-content: space-evenly;
}

@media only screen and (min-device-width : 1px) and (max-device-width : 1024px) {

    .no-search {
        width: 90%;
    }

    aside.shared-buttons-wrap {
        width: 90%;
        margin-bottom: 2rem;
    }

}