.favorite-button {
    -webkit-appearance: inherit;
    background: transparent;
    border: none;
    margin: 1rem 2rem 0;
    transform: scale(1.5);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.favorite-button small {
    font-size: .6em;
    color: rgba(0,0,0,.3);
}

@media only screen and (min-device-width : 1px) and (max-device-width : 1024px) {

    .favorite-button {
        margin: 0 .5rem;
        transform: scale(1);
        flex-direction: row;
    }

    .favorite-button small {
        font-size: .9em;
        color: rgba(0,0,0,.6);
        margin-left: .5rem;
    }

}