* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --main-color: rgba(51, 139, 180, .8);
  --link-color: rgba(255,255,255, .8);
  --link-color-hover: rgba(255,255,255, 1);
}

a {
  color: var(--link-color);
  text-decoration: none;
  transition: color .2s ease-in-out;
}

a:hover {
  color: var(--link-color-hover);
}